.fitness-submenu {
    width: 9rem;
    position: absolute;
    top: 4rem;
    left: 55.5%;
    list-style: none;
    text-align: start;
    
}

.fitness-submenu li {
    background: rgba(199, 118, 246, 0.719);   /* rgb(0,212,212) */
    cursor: pointer;

}
.fitness-submenu li a:hover {

    background: rgb(0, 175, 175);
 
}

.fitness-submenu.clicked {
    display: none;
    
}

.submenu-item {
    display: block;
    /* width: 100%;
    height: 100%; */
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 16px;
  
    
}


/* Nutrition */
.nutrition-submenu {
    width: 9rem;
    position: absolute;
    top: 4rem;
    left: 64.3%;
    list-style: none;
    text-align: start;
    
}

.nutrition-submenu li {
    background: rgba(199, 118, 246, 0.719);   /* rgb(0,212,212) */
    cursor: pointer;

}
.nutrition-submenu li a:hover {

    background: rgb(0, 175, 175);
 
}

.nutrition-submenu.clicked {
    display: none;
    
}

/* My Plan */
.user-submenu {
    width: 9rem;
    position: absolute;
    top: 4rem;
    left: 73%;
    list-style: none;
    text-align: start;
    
}

.user-submenu li {
    background: #c776f6b7;   /* rgb(0,212,212) */
    cursor: pointer;

}
.user-submenu li a:hover {

    background: rgba(80, 80, 80, 0.614);   /* rgb(0,175,175) */
 
}

.user-submenu.clicked {
    display: none;
    
}